<div class="container">
  <h1>Contact Info</h1>
  <div class = "email">
    <p>
      <span class="glyphicon glyphicon-envelope"></span><span class="sr-only">Email:</span> <a href= "mailto:brfergus2@gmail.com">brfergus2@gmail.com</a>
    </p>
  </div> <!-- end email -->
</div>