<div class="container-fluid header-area">
  <div class="header-content">
    <h1><strong>Brandon Ferguson's Jacksonville Experience</strong></h1>
    <p>
      Stories of a ruby programmer living in a new city.
    </p>
  </div> <!-- /header-content -->
</div> <!-- /header-area -->
<div class = "container-fluid" id="posts">
  <div class="row">
    <%= render @posts %>
  </div> <!-- /row -->
</div> <!-- /posts -->

<br>

<%= link_to 'New Post', new_post_path %>
